<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_member")
    <!-- END NAV -->
    <!-- BODY -->
    <div class="container">
            <div class="section"></div>
        <div class="row">
                <div class="col s9">@Html.Partial("_MemIndex_LeftContect")</div>
                <div class="col s3">@Html.Partial("_MemIndex_RightContent")</div>
        </div>
    </div>
    <!-- END BODY -->
    <!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->
</body>

</html>