<html lang="en">

@Html.Partial("_Header")
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar_member")
    <!-- END NAV -->

    <!-- Palalex-->
        <!--        <div id="index-banner" class="parallax-container">
                    <div class="section no-pad-bot">
                        <div class="container">
                        <br><br>
                            <h1 class="header center white-text text-darken-2">Hello!!</h1>
                            <div class="row center">
                            <h5 class="header col s12 white-text"> Have a nice day!!</h5>  </div>
                         </div>
                    </div>
                            <div class="parallax"><img src="img/book2.jpg"></div>
                </div>-->
    <!-- BODY -->
    <div class="container">
            <div class="section"></div>
        <div class="row">
				
                <div class="col s9">@Html.Partial("_MemIndex_LeftContect")</div>
                <div class="col s3">@Html.Partial("_MemIndex_RightContent")</div>
        </div>
    </div>
                  </div>

                 <!-- News -->

				
				
                      <!--  <div class="col s12 m7">
                        <h2 class="header">News week</h2>

                        <div class="card horizontal">
                              <div class="card-image">
                              <img src="img/news1.jpg">
                              </div>
                        <div class="card-stacked">
                              <div class="card-content">
                              <h5>Is Trump the WTO's biggest threat?</h5>
                              <p>As the World Trade Organization meets in Argentina, is the US President undermining its existence?</p>
                              </div>
                              <div class="card-action">
                              <a href="http://www.bbc.com/news/business-42200390">Read more</a>
                              </div>
                        </div>
                        </div>
                        <br><br>

                         <div class="card horizontal">
                              <div class="card-image">
                              <img src="img/news2.jpg">
                              </div>
                         <div class="card-stacked">
                              <div class="card-content">
                              <h5>Babies' brains damaged by pollution, Unicef says</h5>
                              <p>Toxic air is putting the brain development of millions of infants under one at risk, Unicef says.</p>
                              </div>
                              <div class="card-action">
                              <a href="http://www.bbc.com/news/health-42250558">Read more</a>
                              </div>
                         </div>
                         </div>
                         <br><br>

                          <div class="card horizontal">
                              <div class="card-image">
                              <img src="img/news3.jpg">
                              </div>
                          <div class="card-stacked">
                              <div class="card-content">
                              <h5>UN urges N Korea to keep channels open</h5>
                              <p>After the visit, North Korea said it has agreed to better communication with the UN in future.</p>
                              </div>
                              <div class="card-action">
                              <a href="http://www.bbc.com/news/world-asia-42295078">Read more</a>
                              </div>
                          </div>
						  </div>
                          <br><br>    
								
                          <div class="card horizontal">
                                <div class="card-image">
                                <img src="img/news4.jpg">
                                </div>
                          <div class="card-stacked">
                                <div class="card-content">
                                <h5> The ocean is a strange place after dark</h5>
                                <p>Moonlight triggers the world’s biggest orgy</p>
                                </div>
                                <div class="card-action">
                                <a href="http://www.bbc.com/earth/story/20170818-five-amazing-things-that-happen-in-the-ocean-at-night">Read more</a>
                                </div>
                          </div>
						  </div>
				

                 
-->
			
               
    <!-- END BODY -->
		 

                            <!--<div class="parallax-container">
                            <div class="parallax"><img src="img/book1.jpg"></div>
                            </div>-->
		<!-- end parallax-->
    <!-- FOOTER -->
   @Html.Partial("_Footer")
    <!-- END FOOTER -->
</body>

</html>